<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include Spring Boot defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostname}] %-5level [%C.%M:%line] - %msg"/>
    <property name="KAFKA_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostname}] %-5level [%C.%M:%line] - %msg"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="HTTP" class="com.kbds.pay.appender.HttpAppender">
        <encoder>
            <pattern>${KAFKA_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <host>http://localhost:8080</host>
        <url>/logger/appender</url>
    </appender>

    <!-- Layout 1  :  kafkaAppender -->
<!--    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">-->
<!--        <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">-->
<!--            <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--                <Pattern>${KAFKA_LOG_PATTERN}</Pattern>-->
<!--            </layout>-->
<!--        </encoder>-->
<!--        <topic>pay-logger</topic>-->
<!--        <producerConfig>bootstrap.servers=localhost:9092</producerConfig>-->
<!--    </appender>-->

    <!-- Async 한 KafkaAppender 추가 -->
<!--    <appender name="KAFKA-ASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        <appender-ref ref="kafkaAppender"/>-->
<!--    </appender>-->
    <logger name="http-logger" level="INFO" additive="false" >
        <appender-ref ref="HTTP"/>
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="KAFKA-ASYNC" />-->
<!--        <appender-ref ref="KAFKA" />-->
    </root>
</configuration>