<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include Spring Boot defaults -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [${hostname}] %-5level [%C.%M:%line] - %msg"/>
    <property name="KAFKA_LOG_PATTERN" value="%msg"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Layout 1  :  kafkaAppender -->
    <appender name="KAFKA" class="com.kbds.pay.appender.KafkaAppender">
        <topic>pay-logger</topic>
        <bootstrapServers>localhost:9092</bootstrapServers>
    </appender>

    <logger name="kafka-logger" level="INFO" additivity="false">
        <appender-ref ref="KAFKA" />
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>